<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <icon src="icon.png" platform="ios" width="57" height="57" density="mdpi" />
    <name>Gestos</name>
    <description>
        Primera app.
    </description>
    <author email="hola@dc5app.org" href="http://c5app.org">
        c5App
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
